{% extends 'layout1.html' %}
{%block content%}
<form action="{{url_for('register_add_page')}}" method="post">
    {{form.hidden_tag()}}
    <div class="mb-3">
      {{form.login(class='form-control',placeholder='Type Login')}}
    </div>
    <div class="mb-3">
        {{form.name(class='form-control',placeholder='Type Name')}}
      </div>
    <div class="mb-3">
      {{form.password(class='form-control',placeholder='Type Password')}}
    </div>
    <div class="mb-3">
      {{form.submit(class='btn btn-lg btn-primary')}}
    </div>
  </form>
{%endblock%}